*{
    text-align: center;
}
body{
    background-color: #D0D3D4;
}
.error{
    color: red;
}

.output{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.numero{
    margin: 5% auto 5%;
}
textarea{
    border-radius: 10px;
}
.btn{
    margin-top: 3%;
    background-color: #58D68D;
    border-radius: 10px;
    width: 30vw;
    height: 8vh;
    border: 35px solide red;
}
.btn:hover{
    color:white;
}