.container {
  background-color: #aaa;
  width: 40%;
  height: 50vh;
  border-radius: 10px;
  margin: 10vh auto auto;
}
.container p {
  padding-top: 5vh;
  text-align: center;
  font-size: 1.5rem;
}
form {
  display: flex;
  flex-direction: column;
}
.field {
  margin: 10% auto auto;
}
.field input {
  height: 4vh;
  border-radius: 10px;
}
.btn {
  margin: 5% auto auto 25%;
  border-radius: 5px;
  height: 4vh;
  width: 55%;
  background-color: green;
}

.btn :hover {
  color: red;
}
